.container {
    height: 100vh;
    flex-wrap: nowrap;
    flex-direction: row;
}

.grace {
    position: absolute;
    text-align: center;
}

.chevron {
    animation: smoothbounceball 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: infinite;
}

@keyframes smoothbounceball {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 30px, 0);
    }
}

.header-container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.jump-panel {
    box-shadow: 0px 39px 37.2px -29px rgba(0, 0, 0, 0.75);
}

@media (max-width: 767px) {
    .screenDisplay {
        display: none
    }
}

@media only screen and (min-width: 768px) {
    .mobileDisplay {
        display: none
    }
}